<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
    <h1>My Contacts Details</h1>
    <hr size="2">
    <p><em>My Address:</em> 320 S Jupiter Rd. Garland, Texas 75042</p>
    <p><em >My Number:</em> 470-473-0544</p>
    <p><em >My Email:</em> kylebrewerkb@gmail.com</p>
<hr size="2">
    <form action="mailto:kylebrewerkb@gmail.com" method="post" enctype="text/plain">
        <label for="Name">Your Name:</label>
        <input type="text" id="Name" name="yourName"><br>
        <label for="Email">Email:</label>
        <input type="email" id="Email" name="yourEmail"><br>
        <label for="message">Your Message:</label>
        <textarea name="yourMessage" rows="10" cols="80"></textarea>
        <input type="submit" id="message" value="submit">

    </form>
    <a href="/index.html">HOMEPAGE</a>
</body>
</html>